@model TeknolojiKovaniWebApi.Domain.Alarm.DTOs.AlarmList

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#DeviceId").change(function () {
            $.ajax({
                url: "@Url.Action("GetPropertyIdForDeviceId")",
                method: "post",
                data: { DeviceId: $("#DeviceId").val() },
                success: function (veri) {
                    if(veri)
                    {
                        $("#PropertyId").html("");
                        if (veri.length == 0) {
                            alert("Cihazın Tüm Propertylerine Alarm Tanımlanmıştır.")
                            return;
                        }
                        $("#PropertyId").append("<option value=0>Seçiniz</option>");
                        for (var i = 0; i < veri.length; i++) {
                            $("#PropertyId").append("<option value=" + veri[i].Id + ">" + veri[i].Name + "</option>");
                        }
                    }
                }
            });
        });
    });
</script>
<h2>Ekle</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AlarmList</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.DeviceId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DeviceId, new SelectList(ViewBag.Devices, "Id", "Name"), "Seçiniz", htmlAttributes: new { @Class = "form-control" })
                @Html.ValidationMessageFor(model => model.DeviceId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PropertyId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(model => model.PropertyId, new SelectList(ViewBag.Properties, "Id", "Name"), "Seçiniz", htmlAttributes: new { @Class = "form-control" })*@
                <select name="PropertyId" id="PropertyId" class="form-control">

                </select>
                @Html.ValidationMessageFor(model => model.PropertyId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AlarmType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="AlarmType" name="AlarmType" class="form-control">
                    <option value="0">Seçiniz</option>
                    <option value="1">OnDevice</option>
                    <option value="2">Sms</option>
                    <option value="3">Email</option>
                    <option value="4">VoiceCall</option>
                </select>
                @Html.ValidationMessageFor(model => model.AlarmType)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AlarmParameter, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlarmParameter)
                @Html.ValidationMessageFor(model => model.AlarmParameter)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Max, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Max)
                @Html.ValidationMessageFor(model => model.Max)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Min, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Min)
                @Html.ValidationMessageFor(model => model.Min)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PinNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PinNo)
                @Html.ValidationMessageFor(model => model.PinNo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}
