@model IEnumerable<TeknolojiKovaniWebApi.Domain.Device.DTOs.DeviceList>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cihaz Listesi</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Cihaz Adı")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MacNo)
        </th>
        <th>
            @Html.DisplayName("Bulunduğu Ortam")
        </th>
        <th>
            @Html.DisplayName("Profil")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MacNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnvironmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileName)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
